{% extends 'baseAdmin.html.twig' %}

{% block title %}Projection{% endblock %}

{% block body %}
    <div class="content-header sty-one">
      <h1>Ajouter une Projection</h1>
      <ol class="breadcrumb">
        <li class="sub-bread"><a href="{{ path('app_projection_index') }}" class="btn btn-warning">retour à la liste</a></li>
      </ol>
    </div>
    <div class="content">
    <div class="card-body">

    {{ include('projection/_form.html.twig') }}
    </div>
    </div>
{% endblock %}
