{% extends 'baseAdmin.html.twig' %}

{% block title %}Projection{% endblock %}

{% block body %}
    <h1>Ajouter une Projection</h1>

    {{ include('projection/_form.html.twig') }}

    <a href="{{ path('app_projection_index') }}">Retour à la liste</a>
{% endblock %}
