{% extends 'baseAdmin.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    
    <div class="content-header sty-one">
      <h1>Liste des reservations</h1>
    </div>
      <div class="content">
         <div class="info-box">
         <div class="table-responsive">
    <table class="table">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.etat }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Voir</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de reservations enregistrées pour le moment !!!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>
{% endblock %}
