{% extends 'baseAdmin.html.twig' %}

{% block title %}Administration {% endblock %}

{% block body %}
<!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Administration</h1>
      <ol class="breadcrumb">
        <li><a href="#">Acceuil</a></li>
        <li><i class="fa fa-angle-right"></i> Administration</li>
      </ol>
    </div>

{% endblock %}
