{% extends 'baseAdmin.html.twig' %}

{% block title %}Cinema{% endblock %}

{% block body %}
    <div class="content-header sty-one">
      <h1>Modifier Cinema </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('app_cinema_index') }}" class="btn btn-warning">Retrour à la liste</a></li>
      </ol>
    </div>
      <div class="content">
         <div class="info-box">
         <div class="table-responsive">

    {{ include('cinema/_form.html.twig', {'button_label': 'Modifier'}) }}
    <p>
    {{ include('cinema/_delete_form.html.twig') }}
    </p>
    </div>
    </div>
    </div>
{% endblock %}
