{% extends 'baseAdmin.html.twig' %}

{% block title %}Cinema{% endblock %}

{% block body %}
    <h1>En register Cinema</h1>

    {{ include('cinema/_form.html.twig') }}

    <a href="{{ path('app_cinema_index') }}">Retour à la liste</a>
{% endblock %}
