{% extends 'baseAdmin.html.twig' %}

{% block title %}Cinema{% endblock %}

{% block body %}
    
    <div class="content-header sty-one">
      <h1>Enregistrer Cinema</h1>
      <ol class="breadcrumb">
        <li class="sub-bread"><a href="{{ path('app_cinema_index') }}" class="btn btn-warning">retour à la liste</a></li>
      </ol>
    </div>
    <div class="content">
    <div class="card-body">

    {{ include('cinema/_form.html.twig') }}
    </div>
    </div>
  
{% endblock %}
