{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouvelle video{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle Video</h1>

    {{ include('video/_form.html.twig') }}

    <a href="{{ path('app_video_index') }}">retour à la liste</a>
{% endblock %}
