{% extends 'baseAdmin.html.twig' %}

{% block title %}Listes des catégories{% endblock %}

{% block body %}
    
    <div class="content-header sty-one">
      <h1>Listes des catégories</h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('app_categorie_new') }}" class="btn btn-warning">Ajouter une catégorie</a></li>
      </ol>
    </div>
      <div class="content">
         <div class="info-box">
         <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.nom }}</td>
                        <td>
                            <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}" class="btn btn-warning">Voir</a>
                            <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="btn btn-warning">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Pas de catégorie enregistrée !!!</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
         </div>
        </div>
    
{% endblock %}
